/ Page Content
.container
	.row
		.col-md-8
			%h1.page-header
				Learning About Leadership			
				%small Add side-note
			= @posts.each do |post|
				.post_wrapper
					%h2.title
						= link_to post.title, post
					%p.lead
						Ken Perrault 
					%p
						%span.glyphicon.glyphicon-time
							= post.created_at.strftime("%B, %d, %Y")
					%hr
						%img.img-responsive{:alt => "", :src => "http://placehold.it/900x300"}
						%hr
							%p
								= post.body